<nav class="sidenav">
    <div class="caption-cdz">
      Codeyz Django Statistics
    </div>
      <ul>
        <li>
          <a href="{% url 'cdzstat:dashboard' %}">Dashboard</a>
        </li>
        <li>
          <a href="{% url 'cdzstat:exceptions' %}">Exceptions</a>
        </li>
        <li>
          <a href="{% url 'cdzstat:sessions' %}">Sessions</a>
        </li>
        <li>
          <a href="{% url 'cdzstat:settings' %}">Settings</a>
        </li>
        <li>

        </li>
      </ul>
    </nav>
    
